body {
    margin: 0;
    padding-top: 0.5em;
    box-sizing: border-box;
    background-color: rgb(185, 181, 181);
    height: 100%;
    width: 100%;
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
}